<% content_for :head do %>
  <html manifest="/survey_cache.manifest"/>
<% end %>


<div class="container">
  <div class="row">
    <%= form_tag '', :class => 'form-horizontal' do%>
      <%#=  render 'shared/form_errors', :f => f %>


      <div class="control-group offset3">
        <div class="controls">
          <%= text_field_tag :first_name, '', :class=>'span6', :placeholder => 'First Name'%>
        </div>
      </div>

      <div class="control-group  offset3">
        <div class="controls">
          <%= text_field_tag :last_name, '', :class=>'span6', :placeholder => 'Last Name'%>
        </div>
      </div>

      <div class="control-group  offset3">
        <div class="controls">
          <%= text_field_tag :email, '', :class=>'span6', :placeholder => 'Email'%>
        </div>
      </div>

      <div class="control-group offset3">
        <div class="controls">
          <%= text_field_tag :phone_number, '', :class=>'span1', :placeholder => '###'%>
          <%= text_field_tag :phone_number, '', :class=>'span2', :placeholder => 'Phone #'%>
        </div>
      </div>

      <div class="control-group offset3">
        <div class="controls">
          <%= text_field_tag :postal_code, '', :class=>'span2', :placeholder => 'Postal Code'%>
        </div>
      </div>

      <div class="control-group offset3">
        <div class="controls">
          <label class="checkbox">
            <%= check_box_tag :tfc_opt_in %>
            Receive news from TFC
          </label>
          <label class="checkbox">
            <%= check_box_tag :rogers_opt_in %>
            Receive news from Rogers
          </label>

          <p class="help-block"><strong>Note:</strong> Opting in to receive news from Rogers and TFC will give you an extra chance to win!</p>
        </div>
      </div>

      <%= link_to 'Submit', '#', :class=>'btn btn-xxlarge btn-primary offset3 span6', :id => 'survey_submit' %>

    <% end %>
  </div>
</div>

<div class="modal fade" id="thank_you" style="display:none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Thank You</h3>
  </div>
  <div class="modal-body">
    <p>TFC TFC TFC</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
