<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'TFC', summary_reports_path, :class=>'brand' %>

      <div class="container nav-collapse">
        <ul class="nav">
          <li class="<%= 'active' if controller.action_name == 'summary' %>">
            <%= link_to 'Summaries', summary_reports_path %>
          </li>
          <li class="<%= 'active' if controller.action_name == 'index' %>">
            <%= link_to 'Entries', reports_path %>
          </li>

        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>